.component * {
  box-sizing: border-box !important;
  outline: none !important;
  font-family: Roboto !important;
}

.component {
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.float_main {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  z-index: 9999999;
  right: 0px;
  left: auto;
}
