.button {
  height: 64px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 64px;
  border-radius: 50%;
  outline: transparent;
}

.button.button_white {
  background-color: rgb(255, 255, 255);
}

.button.button_green {
  background-color: rgb(79, 206, 93);
}

.button.button_white svg {
  fill: rgb(79, 206, 93);
}

.button.button_green svg {
  fill: rgb(255, 255, 255);
}

.button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  display: block;
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  border-radius: 50%;
}

.icon {
  display: flex;
}
